body {
	background-color: #8B8378;
}
nav {
	font-size: 32px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #E0EEEE;
	text-decoration: none;
	font-weight: bold;
	padding: 30px 10px 10px 50px;
}
a {
	color: #E0EEEE;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #E0EEEE;
	text-decoration: underline;
}
a:focus {
	outline: 5px auto -webkit -focus-ring-color;
	outline-offset: -2px;
}
h1 {
	font-size: 28px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #F0FFFF;
	text-align: left;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 1000px;
	margin-left: 100px;
}
h2 {
	font-size: 28px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #F0FFFF;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 670px;
	margin-left: 670px;
}
h3 {
	font-size: 26px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #F0FFFF;
	text-align: right;
}
article {
	font-size: 20px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #F0FFFF;
	text-align: left;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 100px;
	margin-left: 50px;
}
.center {
  display: block;
  margin-left: 105px;
  margin-right: auto;
}
.column {
	float: left;
	width: 50%;
}
.row {
	content: "";
	display: table;
	clear: both;
}
footer {
	font-size: 16px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #F0FFFF;
	text-align: right;
	padding: 10px 50px 50px 10px;
}